.card {
  background-color: transparent;
  align-content: center;
  border-color: #2f4a85;
  background-color: white;
  border-radius: 5%;
}
.name {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  //font-weight:bold;
}
.price {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.column {
  &-left {
    //background-color: red;
    width: 20%;
  }
  &-right {
    //background-color: yellow;
    width: 50%;
    //background: url(../../../assets/images/login_fondo1.jpg);
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
    height: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content:stretch;
  margin-left: 20%;
  margin-bottom: 20px;
}
.shop {
    align-content: center;
    border-radius: 10%;
    background-color: #2f4a85;
    margin-bottom: 2%;
    padding-right: 10px;
    padding-left: 10px;
    //margin-right: 5%;
    margin-left: 5%;
  }
  .buttong {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 5px;
  }
.card-img-top{
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
  
