<div class="container" *ngIf="product">
  <div class="row">
    <div class="col">
      <h1 class="txtvermas">
        Ver mas productos de
        <a mat-button (click)="backClicked()">{{ product.brandName }}</a>
      </h1>
      <br />
      <h1 class="txtproducto">{{ product.name }}</h1>
      <br />
      <div class="">
        <h2 class="txtstock">
          <span class="material-icons"> check_circle </span>
          {{ product.stock }} En stock
        </h2>
      </div>
      <div class="" *ngIf="product.stock == '0'">
        <h2 class="txtstock">
          <span class="material-icons">
            <span class="material-icons"> highlight_off </span>
          </span>
          Agotado
        </h2>
      </div>
      <div class="">
        <a href="">
          <span class="material-icons"> favorite </span>
          Añadir a la lista de deseos</a
        >
      </div>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta tprecio">
        <h1 class="lineaprecio">{{ product.price }} Bs.</h1>
        <hr class="lineap" />
        <div class="cantidad">
          <h1>Cantidad:</h1>
          <input type="number" matInput required />
          <h2 class="">
            <span class="material-icons"> check_circle </span>
            En stock
          </h2>
        </div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="shop"
          (click)="addCart()"
        >
          <div class="buttong">
            <mat-icon class="">shopping_cart</mat-icon>
            <br />
            <h2 class="aniadir">AÑADIR</h2>
          </div>
        </button>
        <h2 class="txttrans">
          <span class="material-icons"> https </span>
          Transaccion segura
        </h2>
        <a href="">
          <span class="material-icons"> live_help </span>
          ¿Necesitas ayuda?</a
        >
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img mat-card-image src="assets/images/colageno.png" />
    </div>
    <div class="col-5">
      <mat-card class="example-card tarjetaazul">
        <h2 class="txtb">
          <span class="material-icons txtb"> menu_book </span>

          Lee las instrucciones
        </h2>
        <h2 class="txtb">
          <span class="material-icons txtb"> medication </span>

          de este medicamento y
        </h2>
        <h2 class="txtb">
          <span class="material-icons txtb"> local_hospital </span>

          consulte al farmaceutico
        </h2>
      </mat-card>
      <p class="txtazul">
        {{ product.description }}
      </p>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="shop"
        (click)="addCart()"
      >
        <div class="buttondesc">
          <h4>DESCARGAR PROSPECTO</h4>
        </div>
      </button>
      <BR />
      <a href="">
        <span class="material-icons"> live_help </span>
        Consulta tus dudas con nuestro farmaceutico</a
      >
    </div>
    <div class="col"></div>
  </div>
</div>
