<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ver mas productos de <a href="https://www.facebook.com/pagina">Farmacias Bolivia</a></h1>
      
      <h1> Nombre del prodcutop</h1>
    <div class="">
        <h2 class=""><span class="material-icons">
            check_circle
            </span>

      En stock</h2>
    </div>
  <br>
  <div class="">
    <a href="https://www.facebook.com/pagina">
    <span class="material-icons">
        favorite
        </span>
        Añadir a la lista de deseos</a>
</div>

    </div>
    <div class="col">
        <mat-card class="example-card tarjeta">
            <h1>Precio</h1>
            <h1>Cantidad</h1>
            <h2 class=""><span class="material-icons">
                check_circle
                </span>
    
          En stock</h2>
            <button
            type="submit"
            mat-raised-button
            color="primary"
            class="shop"
            (click)="addCart()"
          >
            <div class="buttong">
              <mat-icon class="">add_shopping_cart</mat-icon>
        
              <h2 class="aniadir">AÑADIR</h2>
            </div>
          </button>
            <h2 class=""><span class="material-icons">
                https
                </span>
    
          Transaccion segura</h2>
          <a href="https://www.facebook.com/pagina">
            <span class="material-icons">
                live_help
                </span>
               ¿Necesitas ayuda?</a>
        </mat-card>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <img mat-card-image src="assets/images/colageno.png" >
      </div>
      <div class="col-5">
        <mat-card class="example-card tarjeta">
                <h2 class=""><span class="material-icons">
                    menu_book
                    </span>
        
              Lee las instrucciones </h2>
                <h2 class=""><span class="material-icons">
                    medication
                    </span>
        
                    de este medicamento y</h2>
                <h2 class=""><span class="material-icons">
                    local_hospital
                    </span>
        
              consulte al farmaceutico</h2>
        </mat-card>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit erat eget, risus parturient inceptos 
            venenatis sodales aliquam condimentum mauris molestie mi, maecenas massa iaculis pharetra 
            montes luctus eu nibh. Duis tincidunt ullamcorper volutpat rhoncus rutrum justo tortor mi, 
            lectus porttitor odio sagittis nostra et etiam non, est mollis malesuada aenean fermentum .</p> 

            <button
            type="submit"
            mat-raised-button
            color="primary"
            class="shop"
            (click)="addCart()"
          >
            <div class="buttong">
        
              <h2 class="aniadir">DESCARGAR PROSPECTO</h2>
            </div>
          </button>
          <BR>
          <a href="https://www.facebook.com/pagina">
            <span class="material-icons">
                live_help
                </span>
                Consulta tus dudas con nuestro farmaceutico</a>
      </div>
      <div class="col">
       
      </div>
    </div>
</div>
