.shop {
  align-content: center;
  border-radius: 10%;
  background-color: #2f4a85;
  margin-bottom: 2%;
  padding-right: 10px;
  padding-left: 10px;
  //margin-right: 5%;
  margin-left: 5%;
}
.buttong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 5px;
}
