<h1 class="title">Dashboard</h1>
<div class="chart_container">
  <div class="row">
    <div class="chart_section col">
      <h2 class="subtitle">Ventas</h2>
      <div class="chart_type">
        <mat-button-toggle-group
          class="buttons_configs"
          #chart_view="matButtonToggleGroup"
          value="line"
        >
          <mat-button-toggle
            value="line"
            aria-label="Text align left"
            matTooltip="Grafico de Linea"
          >
            <mat-icon>timeline</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            value="bar"
            aria-label="Text align center"
            matTooltip="Grafico de Barra"
          >
            <mat-icon>bar_chart</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <canvas
        class="chart"
        height="90"
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="chart_view.value"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <mat-card>
            <div class="row">
              <div class="col-2">
                <mat-icon class="link__icon">shopping_cart</mat-icon>
              </div>
              <div class="col-8">
                <h3>Pedidos Pendientes</h3>
                <p class="p_value">200</p>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="row">
              <div class="col-2">
                <mat-icon class="link__icon2">redeem</mat-icon>
              </div>
              <div class="col-8">
                <h3>El producto mas Vendido</h3>
                <p class="p_value2">8.7% en Stock</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col">
          <mat-card>
            <div class="row">
              <div class="col-2">
                <mat-icon class="link__icon">attach_money</mat-icon>
              </div>
              <div class="col-8">
                <h3>Ganancias de Pedidos</h3>
                <p class="p_value">8122$ en Stock</p>
              </div>
            </div></mat-card
          >
          <mat-card>
            <div class="row">
              <div class="col-2">
                <mat-icon class="link__icon2">local_atm</mat-icon>
              </div>
              <div class="col-8">
                <h3>Ganancias de Ventas en Tienda</h3>
                <p class="p_value2">8.7% en Stock</p>
              </div>
            </div></mat-card
          >
        </div>
      </div>
      <div class="row">aqui viene tabla</div>
    </div>
    <div class="chart_section col-5">
      <mat-card>
        <h2 class="subtitle">Productos</h2>
        <canvas
          baseChart
          class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
        >
        </canvas>
      </mat-card>
    </div>
  </div>
</div>
