.title {
  margin-left: 45px;
  margin-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #2f4a85;
}
.subtitle {
  margin-left: 45px;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #2f4a85;
}

.chart_container {
  padding: 2%;
  min-height: 200px;
  //   background-color: #313947;
}
.chart_section {
  width: 50%;
}
.chart_element_container {
  position: relative;
  height: 400px;
  overflow: auto;
  margin: 3px;
}
.chart {
  height: 50%;
}
.chart_type {
  margin-left: 45px;
}
.mat-card {
  margin: 5px;
}
.link__icon {
  margin: 10px;
  color: #2f4a85;
  font-size: 35px;
}
.link__icon2 {
  margin: 10px;
  color: #ff4081;
  font-size: 35px;
}
.p_value {
  color: #2f4a85;
  font-weight: bold;
}
.p_value2 {
  color: #ff4081;
  font-weight: bold;
}

table {
  width: 100%;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
.table-container {
  position: relative;
  min-height: 200px;
}
.productList {
  position: relative;
  overflow: auto;
}
.title {
  margin-bottom: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #2f4a85;
}
