<mat-horizontal-stepper linear #stepper>
  <mat-step
    [stepControl]="form"
    label="Llenar Datos para la Venta"
    state="sale_info"
  >
    <form [formGroup]="form" class="form">
      <mat-dialog-content>
        <mat-form-field class="form">
          <mat-label>NIT Comprador</mat-label>
          <input
            matInput
            type="text"
            formControlName="nit"
            placeholder="12312331"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field class="form">
          <mat-label>Apellido Comprador</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstSurname"
            placeholder="Perez"
            required
          /> </mat-form-field
        ><br />
      </mat-dialog-content>
    </form>
    <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
  </mat-step>

  <mat-step label="Seleccionar Productos" state="products">
    <div class="products" *ngIf="products">
      <div *ngIf="products.length > 0">
        <div class="row justify-content-between">
          <h2 class="col-md-4">Productos Disponibles</h2>
          <h2 class="col-md-4">Total: {{ totalAmount }}</h2>
          <div>
            <button mat-raised-button color="primary" matStepperNext>
              Siguiente
            </button>
          </div>
        </div>
        <br />
        <mat-form-field class="formfarmacia2">
          <mat-label>Buscar</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. ium"
            #input
          />
        </mat-form-field>
        <div
          class="products_list"
          *ngFor="let product of dataSource.filteredData"
        >
          <app-sale-item
            [product]="product"
            [products]="orderProducts"
            [typeItem]="true"
            (addItemEvent)="totalUpdate($event)"
          >
          </app-sale-item>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious class="btnform">
            Atras
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            Siguiente
          </button>
        </div>
      </div>
      <div class="no_products" *ngIf="products.length == 0" align="center">
        <img src="assets/images/nocant.png" width="500px" height="500px" />
        <h1 class="txtvermas">¡No hay productos disponibles!</h1>
        <a href="#" routerLink="../../client/pharmacies/">
          <span class="material-icons"> production_quantity_limits </span>
          Revisa nuestros productos a la venta,</a
        >
        es un placer atenderte
      </div>
    </div>
  </mat-step>

  <mat-step label="Confirmar Compra" state="confirm">
    <div class="reserve">
      <h3 class="txtvermas">¡Ultimo paso! Confirma los datos de la venta.</h3>
      <h1 class="txtvermas">Resumen de la Venta</h1>
      <div class="row">
        <h2 class="txtvermas col-md-4">Total: {{ totalAmount }}</h2>
        <div class="col-md-8">
          <button mat-raised-button matStepperPrevious class="btnform">
            Atras
          </button>
          <button
            mat-raised-button
            color="primary"
            class="btnform"
            (click)="newSale()"
          >
            Registrar Venta
          </button>
        </div>
      </div>
      <br />
      <div class="products_list" *ngFor="let product of orderProducts">
        <app-sale-item
          [product]="product"
          [typeItem]="false"
          (addItemEvent)="totalUpdate($event)"
        >
        </app-sale-item>
      </div>
    </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="sale_info">
    <mat-icon>edit_note</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="products">
    <mat-icon>inventory</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="confirm">
    <mat-icon>fact_check</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
