.titlePharmacy {
    //background: #2F4A85;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    color: #2f4a85;
  }
.titlefarmacia {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #2f4a85;
  }
  .moldeexterno {
    background: transparent;
  }
  .moldeinterno {
    background: white;
    border-radius: 15px;
    border: 1.4px solid #2f4a85;
  }
  .blocImagen {
    //background: #2f4a85;
    width: 200px;
    height: 200px;
    margin: 20px 40px 20px 20px;
    //position: relative;
    //margin-left: 5%;
    //background-color: yellow;
    //width: 100%;
    //background: url(../../../../../assets/images/pnglogo1.png);
      //background-repeat: no-repeat;
       //width: 50%;
    //background-size: cover;
    //height: 100%;
  }
  
  
  * {
    box-sizing: border-box;
  }
  .upload_image {
    // display: flex;
    padding: 5px;
  }
  .textEdit {
    color: #2f4a85;
    //font-style: oblique;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 15px;
  }
  .textEditr {
    //color: #2F4A85;
    font-size: 14px;
    margin-left: 15px;
  }
  
  .statusTextGreen {
    color: green;
    font-size: 22px;
  }
  .statusTextRed {
    color: red;
    font-size: 22px;
  }
  
  //EDITAR FARMACIA
  .pharm_cardedit {
    background-color: #2f4a85;
  }
  
  .texteditcard {
    color: white;
  }
  .form {
    color: white;
    margin-right: 10% !important;
  }
  
  .pharm_cardmoldeinterno {
    padding: 0% !important;
    border-radius: 20px 20px 20px 20px !important;
  }
  .btn-edit {
    background-color: white;
    color: #2f4a85;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .entradas {
    display: flex;
    justify-content: space-between;
    //background-color: yellow;
  }
  .subsidiaries-grid {
    background-color: #2f4a85;
    color: white;
    border-radius: 0px 0px 20px 20px !important;
    align-content: center;
    margin-top: 10px;
  }
  .titlesucursal {
    //color: #2f4a85;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 45%;
    //margin-top: 115px;
  }
  .subsidiary_item {
    width: 100%;
  }
  .image_display {
    display: inline-block;
    position: relative;
  }
  .add_image_btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }