.inicio{
    margin-left: 5%;
}
.banner{
    margin-bottom: 15px;
    margin-top: 15px;
}
.productos-derecha{
    margin-bottom: 15px;
    margin-top: 15px;

}
.productos-abajo{
    margin-bottom: 15px;
    margin-top: 15px;

}