<div class="inicio">
<div class="row mb-5 mt-3">
  
    <div class="col-8 ">
      <div class="fondorojo">
      </div>
    </div>
  
  
    <div class="col-4 ">      
      <mat-card class="example-card tarjeta2">
        <mat-card-header>
          <mat-card-title>Alimentacion de bebe</mat-card-title>
        <mat-card-subtitle>Alimentos de buena calidad para su mimado de la casa</mat-card-subtitle>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src="assets/images/biberon.png" width="400px" height="80px">
        </div>
        </mat-card-header>  
      </mat-card>
      <mat-card class="example-card tarjeta2">
        <mat-card-header>
          <mat-card-title>Pañales</mat-card-title>
        <mat-card-subtitle>Variedad de pañales en todos los tipos y tamaños</mat-card-subtitle>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src="assets/images/panal.png" width="400px" height="80px">
        </div>
        </mat-card-header>  
      </mat-card>
        <mat-card class="example-card tarjeta2">
          <mat-card-header>
            <mat-card-title>Cosmeticos</mat-card-title>
          <mat-card-subtitle>Productos de primera calidad para el cuidado de su piel</mat-card-subtitle>
          <div mat-card-avatar class="example-header-image">
            <img mat-card-image src="assets/images/protecciondela.png" width="400px" height="80px">
          </div>
          </mat-card-header>  
        </mat-card>
  </div>
</div>
<div class="productos-izquierda">
  <div class="row mt-5">
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>  Colageno y Magnesio</mat-card-title>
          <mat-card-subtitle>Refuerza la creación de nuevos tejidos en su cara y en todo su cuerpo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/colagenomini.png" width="150px" height="200px">
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>Vitaminas y defensas</mat-card-title>
          <mat-card-subtitle>Mejora el sistema inmunitario, tomelos en temporada de frio y en temporadas calidas</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/vitamina.png" width="150px" height="200px" >
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>Cuidado respiratorio</mat-card-title>
          <mat-card-subtitle>En tiempos de enfermedad, y frente a enfermedades virales en el aire</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/respiratoriomini.png" width="150px" height="200px">
        <!--img mat-card-image src="assets/images/respiratorio.png"  -->        
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>Alimentación Infantil</mat-card-title>
          <mat-card-subtitle>Todo para que su niño crezca sano con todos los nutrientes y aportaciones a temprana edad</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/bebidas.png" width="150px" height="200px">
        <!--img mat-card-image src="assets/images/nido.png" width="150px" height="200px"-->        
      </mat-card>
    </div>
  </div>
  </div>
</div>
  
