<div class="inicio">
<div class="row mb-5 mt-3">
  
    <div class="col-8 ">
      <div class="fondorojo">
      </div>
    </div>
  
  
    <div class="col-4 ">      
      <mat-card class="example-card tarjeta2">
        <mat-card-header>
          <mat-card-title>Alimentacion de bebe</mat-card-title>
        <mat-card-subtitle>En tiempos de enfermedad</mat-card-subtitle>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src="assets/images/colageno.png" width="400px" height="80px">
        </div>
        </mat-card-header>  
      </mat-card>
      <mat-card class="example-card tarjeta2">
        <mat-card-header>
          <mat-card-title>Pañales</mat-card-title>
        <mat-card-subtitle>En tiempos de enfermedad</mat-card-subtitle>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src="assets/images/colageno.png" width="400px" height="80px">
        </div>
        </mat-card-header>  
      </mat-card>
        <mat-card class="example-card tarjeta2">
          <mat-card-header>
            <mat-card-title>Cosmeticos</mat-card-title>
          <mat-card-subtitle>En tiempos de enfermedad</mat-card-subtitle>
          <div mat-card-avatar class="example-header-image">
            <img mat-card-image src="assets/images/colageno.png" width="400px" height="80px">
          </div>
          </mat-card-header>  
        </mat-card>
  </div>
</div>
<div class="productos-izquierda">
  <div class="row mt-5">
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>  Colageno y Magnesio</mat-card-title>
          <mat-card-subtitle>Refuerza la creación de nuevos tejidos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/colageno.png" width="150px" height="200px">
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>Vitaminas y defensas</mat-card-title>
          <mat-card-subtitle>Mejora el sistema inmunitario</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/vitaminas.png" width="150px" height="200px" >
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>Cuidado respiratorio</mat-card-title>
          <mat-card-subtitle>En tiempos de enfermedad</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/colageno.png" width="150px" height="200px">
        <!--img mat-card-image src="assets/images/respiratorio.png"  -->        
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card tarjeta">
        <mat-card-header>
          <mat-card-title>Alimentación Infantil</mat-card-title>
          <mat-card-subtitle>Todo para que su niño crezca sano</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/colageno.png" width="150px" height="200px">
        <!--img mat-card-image src="assets/images/nido.png" width="150px" height="200px"-->        
      </mat-card>
    </div>
  </div>
  </div>
</div>
  
