.inicio{
    margin-left: 5%;
}
.banner{
    margin-bottom: 15px;
    margin-top: 15px;
}
.productos-derecha{
    margin-bottom: 15px;
    margin-top: 15px;

}
.productos-abajo{
    margin-bottom: 15px;
    margin-top: 15px;

}
.fondorojo{
    border-radius: 15px;
    background: url(../../../../../assets/images/banner2.png);
    background-color: blue;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}
.espacio-uno{
    background-color: white;
    border-radius: 15px;
    height: 33.3%;
    width: 100%;
    margin: 5px 0;
}
.espacio-dos{
    background-color: white;
    border-radius: 15px;
    height: 33.3%;
    width: 100%;
    margin: 5px 0;
}
.espacio-tres{
    background-color: white;
    border-radius: 15px;
    height: 33.3%;
    width: 100%;
    margin: 5px 0;
}
.tarjeta{
    border-radius: 15px;

}
.tarjeta2{
    border-radius: 15px;
    width: 100%;
    margin: 15px 0;

}
.buttong{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 5px;
}
.centrado{
    text-align: center;
}
