.mat-icon-button.img-button img {
  width: 32px;
  height: 32px;
  border-radius: 30%;
  float: right;
}
.topbar {
  &.mat-toolbar {
    position: relative;
    background: transparent;
    //poner en todo a lo largo
    //border-top-right-radius: 15%;
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 1001;
  }
  .mat-select-value {
    font-weight: 400;
    color: #000;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-collapsed {
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.sidebar-compact .toggle-collapsed {
  transform: rotate(180deg);
}

.header-topnav {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  z-index: 999;
  float: right;
  .container {
    float: right;
    padding: 0;
  }
  .topbar-branding {
    float: right;
    height: 48px;
    padding: 8px;
    margin: 0 8px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .topnav {
    margin-right: -19px;
    display: flex;
    align-items: center;
  }
  .header-topnav-right {
    float: right;
    //height: 48px;
    //display: flex;
    //align-items: center;
    //padding-left: 0.67rem;
  }
}

@media (max-width: 959px) {
  .header-topnav-right {
    right: 6px;
    top: 0;
  }
}

[dir="rtl"] {
  .header-topnav {
    .topnav {
      flex-direction: row-reverse;
    }
  }
}

.notification-number {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #2f4a85;
  text-align: center;
  border-radius: 50%;
}
//color iconos
.maticon {
  color: #2f4a85;
  //border-top: 5px solid #369;
  //border-color: 5px #fff;
}
.maticon_nav {
  color: #369;
  //background: salmon;
  //border-top: 5px solid #369;
  //border-color: 5px #fff;
}
#langToggle .mat-select-trigger {
  width: 80px;
  min-width: 80px;
}
.theme-list {
  .mat-menu-item {
    width: 48px;
    height: 48px;
    padding: 5px;
    .matx-swatch {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    .active-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto !important;
      color: #eaf1ff;
    }
  }
}

.topbar-button-right {
  float: left;
  padding-left: 0%;
  margin: 0 0.1rem !important;
}

.matmenuestilo {
  background-color: seagreen;
}

[dir="rtl"] {
  .topbar-button-right {
    //margin-right: 1rem;
    margin-left: 0 !important;
    float: right;
  }
}
.usuario {
  margin-left: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #2f4a85;
}
