<mat-toolbar class="topbar header">
  <div>
    <h4 class="usuario">Hola, {{ this.username }}</h4>
  </div>
  <div>
    <button
      *ngIf="role == 3"
      mat-icon-button
      [matBadge]="total$ | async"
      [style.overflow]="'visible'"
      class="topbar-button-right"
      routerLink="/client/order"
    >
      <mat-icon class="maticon">shopping_cart</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Notifications"
      [style.overflow]="'visible'"
      class="topbar-button-right"
    >
      <mat-icon class="maticon">notifications</mat-icon>
      <span class="notification-number mat-bg-warn">1</span>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="settingMenu"
      matTooltip="Settings"
      [style.overflow]="'visible'"
      class="topbar-button-right"
    >
      <mat-icon class="maticon">settings</mat-icon>
    </button>

    <mat-menu #settingMenu="matMenu" class="matmenuestilo">
      <button
        *ngIf="role == 2 || role == 1"
        mat-menu-item
        (click)="changePassword()"
      >
        <mat-icon class="maticon_nav">lock</mat-icon>
        <span>Change Password</span>
      </button>
      <button *ngIf="role == 3" mat-menu-item routerLink="/client/account">
        <mat-icon class="maticon_nav">account_box</mat-icon>
        <span>Profile</span>
      </button>
      <button
        *ngIf="role == 2"
        mat-menu-item
        [routerLink]="['/pharmAdmin/bankAccount']"
      >
        <mat-icon class="maticon_nav">account_balance</mat-icon>
        <span>Cuenta de Banco</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="maticon_nav">notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <button mat-menu-item (click)="tokenServide.logOut()">
        <mat-icon class="maticon_nav">exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>

    <button mat-icon-button class="img-button" *ngIf="role == 3">
      <img *ngIf="image" [src]="image" alt="" />
      <img *ngIf="!image" src="../../../assets/images/face.png" alt="" />
    </button>
  </div>
</mat-toolbar>
