<div class="display-all">
    <div class="column-left">
      <div class="container1">
        <div ><!--class="signup-container"-->
          <div ><!--class="signup-header"-->
            <!-- <img [src]="logo" alt="SmartIdea-logo" /> -->
            <h1 class="title1"><strong>MEDIC - HUB</strong></h1>
            <h4 class="title2">
              Bienvenido de nuevo, por favor introduzca su usuario y contraseña.
            </h4>
            <br />
            <br />
            <br />
          </div>
          <div class="row_center_xs">
            <mat-card ><!--class="signup-card"-->
              <form [formGroup]="form" (ngSubmit)="saveClient($event, client.clientId)">
                <mat-form-field class="form-input">
                  <mat-label class="form-letter">Apellido Paterno</mat-label>
                  <input
                    matInput
                    formControlName="firstSurname"
                    placeholder="Apellido Paterno"
                    required
                  /> 
                </mat-form-field>
                <mat-form-field class="form-input">
                  <mat-label class="form-letter">Apellido Materno</mat-label>
  
                  <input
                    matInput
                    formControlName="secondSurname"
                    placeholder="Apellido Materno"
                    required
                  /> 
              </mat-form-field>
              <mat-form-field class="form-input">
                <mat-label class="form-letter">Nombre</mat-label>

                <input
                  matInput
                  formControlName="firstName"
                  placeholder="Nombre"
                  required
                /> 
            </mat-form-field>
            <mat-form-field class="form-input">
              <mat-label class="form-letter">Nombre de Usuario</mat-label>

              <input
                matInput
                formControlName="userName"
                placeholder="Nombre de Usuario"
                required
              /> 
          </mat-form-field>
          <mat-form-field class="form-input">
            <mat-label class="form-letter">Fecha de Nacimiento</mat-label>

            <input
              matInput
              formControlName="password"
              placeholder="birthdate"
              required
            /> 
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label class="form-letter">Contraseña</mat-label>

          <input
            matInput
            formControlName="password"
            placeholder="Contraseña"
            required
            type="password"
          /> 
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label class="form-letter">Confirmar Contraseña</mat-label>

        <input
          matInput
          formControlName="password"
          placeholder="Confirmar Contraseña"
          required
          type="password"
        /> 
    </mat-form-field>
    <mat-form-field class="form-input">
      <mat-label class="form-letter">Celular</mat-label>

      <input
        matInput
        formControlName="phone"
        placeholder="Celular"
        required
        type="phone"
      /> 
  </mat-form-field>
  <mat-form-field class="form-input">
    <mat-label class="form-letter">Email</mat-label>

    <input
      matInput
      formControlName="email"
      placeholder="Email"
      required
      type="email"
    /> 
</mat-form-field>
  <mat-form-field class="form-input">
    <mat-label class="form-letter">Carnet de Identidad</mat-label>

    <input
      matInput
      formControlName="ci"
      placeholder="Carnet de Identidad"
      required
    /> 
</mat-form-field>
<mat-form-field class="form-input">
  <mat-label class="form-letter">Zona</mat-label>

  <input
    matInput
    formControlName="zone"
    placeholder="Zona"
    required
  /> 
</mat-form-field>
<mat-form-field class="form-input">
  <mat-label class="form-letter">Ciudad</mat-label>

  <input
    matInput
    formControlName="city"
    placeholder="Ciudad"
    required
  /> 
</mat-form-field>
<mat-form-field class="form-input">
  <mat-label class="form-letter">Pais</mat-label>

  <input
    matInput
    formControlName="country"
    placeholder="Pais"
    required
  /> 
</mat-form-field>
<mat-form-field class="form-input">
  <mat-label class="form-letter">Calle</mat-label>

  <input
    matInput
    formControlName="street"
    placeholder="Contraseña"
    required
  /> 
</mat-form-field>
<mat-form-field class="form-input">
  <mat-label class="form-letter">Numero</mat-label>

  <input
    matInput
    formControlName="number"
    placeholder="Contraseña"
    required
  /> 
</mat-form-field>
              <br />
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  class="button_signup"
                >
                  Registrarse
                </button>
              </form>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="column-right"></div>
  </div>
  