.products {
  margin-top: 15px;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t2 {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 10px;
  color: #2f4a85;
}
.t3 {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 80px;
  color: #2f4a85;
}
.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #2f4a85;
}
.conta {
  color: #2f4a85;
}
.search-bar {
  .top-search-form {
    position: relative;
    //background: #fff;
    border-radius: 20px;
    margin-right: 3rem;
    display: block;
    width: 220px;
    height: 50px;
    color: #fff;
    background-color: #2f4a85;
    //max-width: 620px;
    //margin-left: 20px;
    box-shadow: inset 0 0 2px 2px white;

    .material-icons {
      position: absolute;
      top: 50%;
      left: 10px;
      margin-top: -12px;
      margin-left: 10px;
      color: #fff;
    }
    input {
      font-size: 2rem;
      margin-top: 7px;
      margin-left: 13px;
      padding: 0.6rem 0.75rem;
      z-index: 2;
      cursor: text;
      text-emphasis-color: white;
      text-indent: 30px;
      border: none;
      background: transparent;
      width: 100%;
      outline: 0;
      //color: #2F4A85;
    }
  }
}
.lettersearch {
  color: rgb(21, 78, 153);
  font-weight: bolder;
}
.filtro {
  margin-left: 50px;
  color: #fff;
}
.filtro {
  background-color: transparent;
  margin-left: 50px;
  color: #fff;
}
.titlefiltro {
  color: #2f4a85;
  font-weight: bolder;
}
.pagina {
  background-color: #2f4a85;
  color: #fff;
  border-radius: 15px;
}

