<div class="container conta" *ngIf="subsidiary">
  <div class="row">
    <div class="contact-section col">
      <h1 class="title">{{ subsidiary.subsidiaryName }}</h1>
      <br />
      <h2 class="t2">Contacto:</h2>
      <strong>Email:</strong>
      <p>{{ subsidiary.email }}</p>
      <strong>Telefono de referencia:</strong>
      <p>{{ subsidiary.phone }}</p>
    </div>

    <div class="direcction-section col">
      <h2 class="t3">Detalles de la Dirección:</h2>
      <div class="row">
        <div class="col">
          <strong>Calle:</strong>
          <p>{{ subsidiary.street }}</p>
          <strong>Numero:</strong>
          <p>{{ subsidiary.number }}</p>
          <strong>Zona:</strong>
          <p>{{ subsidiary.zone }}</p>
        </div>
        <div class="col">
          <strong>Ciudad:</strong>
          <p>{{ subsidiary.city }}</p>
          <strong>Pais:</strong>
          <p>{{ subsidiary.country }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container products">
    <h1 class="title">Productos</h1>
    <mat-form-field class="formfarmacia2">
      <input
        matInput
        placeholder="Buscar producto"
        class="lettersearch"
        [(ngModel)]="filter"
        (keyup.enter)="applyFilter($event)"
      />
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      (click)="getProducts(this.subsidiaryId, 1)"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field appearance="fill" class="filtro">
      <mat-label class="titlefiltro">Tipo de Filtro</mat-label>
      <mat-select
        [(value)]="filterType"
        class="filtro2"
        (selectionChange)="getProducts(this.subsidiaryId, 1)"
      >
        <mat-option value="all">Todos</mat-option>
        <mat-option value="price">Precio</mat-option>
        <mat-option value="name">Nombre de Producto</mat-option>
        <mat-option value="type">Tipo de Producto</mat-option>
        <mat-option value="dose">Dosis</mat-option>
        <mat-option value="brand">Marca</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container">
      <mat-paginator
        [length]="length"
        [pageSize]="size"
        (page)="refreshProducts($event)"
        class="pagina"
      ></mat-paginator>
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div
        class="row row-cols-3"
        *ngIf="!isLoadingResults && !isRateLimitReached"
      >
        <app-product-item
          class="col mt-3 mb-3"
          *ngFor="let product of dataSource.filteredData"
          [product]="product"
          matSort
        >
        </app-product-item>
      </div>
      <div class="no_data" *ngIf="isRateLimitReached">
        <h1>¡No se encontraron resultados para su busqueda!</h1>
      </div>
    </div>
  </div>
</div>
