<!--<h1>producto linea</h1> -->
<br />
<div class="moldeexterno" *ngIf="product && !destroyed">
  <mat-card class="pharm_card moldeinterno" *ngIf="!edit; else elseBlock">
    <mat-card-header class="titleProduc">
      <mat-card-title>
        <h3 class="titlefarmacia">
          <strong>{{ product.name }}</strong>
        </h3>
      </mat-card-title>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editProduct(product.productId)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteProduct(product.productId)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <table>
      <tr>
        <td>
          <div class="blocImagen">
            <img
              src="assets/images/pastilla.png"
              width="200px"
              height="200px"
            />
          </div>
        </td>
        <td>
          <mat-card-content class="">
            <h3>
              <strong class="textEdit">PRECIO:</strong>
              <p class="textEdit">{{ product.price }}</p>
            </h3>
            <h3>
              <strong class="textEdit">STOCK:</strong>
              <p class="textEdit">{{ product.stock }}</p>
            </h3>
            <h3>
              <strong class="textEdit">DESCRIPCIÓN:</strong>
              <p class="textEdit">{{ product.description }}</p>
            </h3>
            <h3>
              <strong class="textEdit">DOSIS:</strong>
              <p class="textEdit">{{ product.dose }}</p>
            </h3>
            <h3>
              <strong class="textEdit">TIPO:</strong>
              <p class="textEdit">{{ product.type }}</p>
            </h3>
            <h3>
              <strong class="textEdit">MARCA:</strong>
              <p class="textEdit">{{ product.brandName }}</p>
            </h3>
          </mat-card-content>
        </td>
      </tr>
    </table>
  </mat-card>
  <ng-template #elseBlock>
    <mat-card class="pharm_card2">
      <div class="pharm_cardedit">
        <form
          [formGroup]="form"
          (ngSubmit)="saveProduct($event, product.productId)"
        >
          <mat-dialog-content>
            <div class="entradas">
              <mat-form-field class="form">
                <mat-label class="texteditcard">Nombre</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  placeholder="Ibuprofeno"
                  [(ngModel)]="product.name"
                  required
                /> </mat-form-field
              ><br />
              <mat-form-field class="form">
                <mat-label class="texteditcard">Stock</mat-label>
                <input
                  matInput
                  type="number"
                  min="2"
                  formControlName="stock"
                  placeholder="500"
                  [(ngModel)]="product.stock"
                  required
                /> </mat-form-field
              ><br />
              <mat-form-field class="form">
                <mat-label class="texteditcard">Precio</mat-label
                ><input
                  matInput
                  type="number"
                  min="0.1"
                  step=".01"
                  formControlName="price"
                  placeholder="0.50"
                  [(ngModel)]="product.price"
                  required
                />
              </mat-form-field>
            </div>
            <div class="entradas">
              <mat-form-field class="form">
                <mat-label class="texteditcard">Tipo</mat-label
                ><input
                  matInput
                  type="text"
                  formControlName="type"
                  placeholder="tableta"
                  [(ngModel)]="product.type"
                  required
                />
              </mat-form-field>
              <mat-form-field class="form">
                <mat-label class="texteditcard">Dosis</mat-label
                ><input
                  matInput
                  type="text"
                  formControlName="dose"
                  placeholder="250 ml gr"
                  [(ngModel)]="product.dose"
                  required
                />
              </mat-form-field>
              <mat-form-field class="form">
                <mat-label class="texteditcard">Descripcion</mat-label
                ><input
                  matInput
                  type="text"
                  formControlName="description"
                  placeholder="Este es un producto"
                  [(ngModel)]="product.description"
                  required
                />
              </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
              <mat-label class="texteditcard">Marcas</mat-label>
              <mat-select formControlName="brandId">
                <mat-option
                  *ngFor="let brand of brands"
                  [value]="brand.brandId"
                  >{{ brand.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </mat-dialog-content>

          <mat-dialog-actions>
            <div class="buttons">
              <button type="submit" mat-button class="btn-edit">Guardar</button>
              <button mat-button (click)="cancel()" class="btn-edit">
                Cancelar
              </button>
            </div>
          </mat-dialog-actions>
        </form>
      </div>
    </mat-card>
  </ng-template>
</div>
