.form{
    background-color: white;
}
.btnform{
    background-color: #2f4a85;
    color: white;
}
.title1 {
    color: #2f4a85;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight:bolder;
    font-size: 30px;
  }
  .title2 {
    color: #2f4a85;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  .login-container {
    padding-top: 30%;
  }
  .login-card {
    background-color: transparent;
  }
  .form-letter {
    color: #2f4a85;
    font-size: small;
    font-style: normal;
    border-bottom: solid #e9e9f0 0.1rem;
  }
  .row_center_xs {
    padding-right: 20%;
    padding-left: 20%;
  }
  .buttons{
    display: flex;
    justify-content: flex-end;
    
  }