<div class="container">
  <mat-card class="subsidiary-card card">
    <mat-card-header>
      <div mat-card-avatar class="subsidiary-header-image">
        <img
          *ngIf="image"
          class="img-fluid rounded"
          [src]="image"
          width="2000px"
          height="2000px"
        />
        <img
          *ngIf="!image"
          class="img-fluid rounded"
          src="../../../../../assets/images/pnglogo1.png"
          width="2000px"
          height="2000px"
        />
      </div>
      <mat-card-title
        ><a routerLink="{{ subsidiary.subsidiaryId }}" class="txtblue">{{
          subsidiary.subsidiaryName
        }}</a></mat-card-title
      >
      <mat-card-subtitle>{{ subsidiary.phone }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="card-text txtblue">
        <strong>Email de contacto:</strong>
        {{ subsidiary.email }}
      </p>
      <p class="card-text txtblue">
        <strong>Direccion:</strong>
        {{ subsidiary.street }}
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <p>
        <small class="text-muted">
          {{ subsidiary.city }}/ {{ subsidiary.country }}</small
        >
      </p>
    </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button>SEGUIR</button>
      <button
        id="{{ subsidiary.subsidiaryId }}"
        mat-raised-button
        class="bver"
        routerLink="{{ subsidiary.subsidiaryId }}"
      >
        VER
      </button>
    </mat-card-actions>
  </mat-card>
</div>
