<div class="container">
  <mat-card class="subsidiary-card card">
    <mat-card-header>
      <div mat-card-avatar class="subsidiary-header-image"></div>
      <mat-card-title>{{ pharmacy.name }}</mat-card-title>
      <mat-card-subtitle>{{ pharmacy.phone }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SEGUIR</button>
      <button mat-raised-button color="primary">VER</button>
    </mat-card-actions>
  </mat-card>
</div>
