<div class="container">
  <h1 class="title"><strong>Administre sus Tarjetas</strong></h1>
  <div class="header-farmacias">
    <div>
      <button (click)="addCard()" class="btn" color="primary">
        <mat-icon class="button-add">credit_card</mat-icon>
      </button>
    </div>
    <div>
      <mat-form-field class="formfarmacia2">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
    </div>
  </div>
  <div class="container cards">
    <div class="row row-cols-2">
      <app-card-item
        class="col mt-3 mb-3"
        *ngFor="let card of dataSource.filteredData"
        [card]="card"
        [displayType]="'edit'"
      ></app-card-item>
    </div>
  </div>
</div>
