<!--h1>Pedidos solicitados</h1>
<div class="form-group">        
	<label class="control-label col-xs-2">Desde:</label>   
     <div class="col-xs-3">      
		<input type="date" class="form-control" name="date"  value="">
	</div>   
</div>
<div class="form-group">        
	<label class="control-label col-xs-2">Hasta:</label>   
     <div class="col-xs-3">      
		<input type="date" class="form-control" name="date"  value="">
	</div>   
</div>
<a href="#" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-search"></span>Buscar</a-->
    <div class="container conta" *ngIf="subsidiary">
        <div class="row">
          <div class="contact-section col">
            <h1 class="title">Pedidos Solicitados</h1>
            <br />
          </div>
        </div>
        <div class="container products">
          <mat-form-field class="formfarmacia2">
            <input
              matInput
              placeholder="Buscar producto"
              class="lettersearch"
              [(ngModel)]="filter"
              (keyup.enter)="applyFilter($event)"
            />
          </mat-form-field>
          <button
            mat-icon-button
            color="primary"
            (click)="getProducts(this.subsidiaryId, 1)"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-form-field appearance="fill" class="filtro">
            <mat-label class="titlefiltro">Tipo de Filtro</mat-label>
            <mat-select
              [(value)]="filterType"
              class="filtro2"
              (selectionChange)="getProducts(this.subsidiaryId, 1)"
            >
              <mat-option value="all">Todos</mat-option>
              <mat-option value="price">Confirmados</mat-option>
              <mat-option value="name">Por confirmar</mat-option>
              <mat-option value="type">Cancelados</mat-option>
            </mat-select>
          </mat-form-field>s
          <div class="container">
            <mat-paginator
              [length]="length"
              [pageSize]="size"
              (page)="refreshProducts($event)"
              class="pagina"
            ></mat-paginator>
            <div class="loading-shade" *ngIf="isLoadingResults">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div
              class="row row-cols-3"
              *ngIf="!isLoadingResults && !isRateLimitReached"
            >
              <app-order-item
                class="col mt-3 mb-3"
                *ngFor="let product of dataSource.filteredData"
                [product]="product"
                matSort
              >
              </app-order-item>
            </div>
            <div class="no_data" *ngIf="isRateLimitReached">
              <h1>¡No se encontraron resultados para su busqueda!</h1>
            </div>
          </div>
        </div>
      </div>
