.title1 {
    color: #2f4a85;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight:bolder;
    font-size: 30px;
}
.btnform{
    background-color: #2f4a85;
    color: white;
}