  <h1 class="title"><strong>Productos</strong></h1>
  <div class="header-productos">
    <div>
      <button (click)="addProduct()" mat-fab class="btn" color="primary">
        <mat-icon class="button-add">inventory_2</mat-icon>
      </button>
    </div>
    <div>
      <div fxFlex fxHide.lt-sm="true" class="search-bar">
        <form class="top-search-form">
          <mat-icon role="img">search</mat-icon>
          <input  placeholder="Buscar producto" type="text" class="lettersearch" />
        </form>
      </div>
    </div>
  </div>
  
  <div class="products-grid">
    <app-product
      *ngFor="let product of products"
      [product]="product"
    ></app-product>
  </div>
