<!--<p>dashboard works!</p>-->
<!--<h4 class="usuario">Hola, Ximena</h4>-->
<!--h1 class="title">Menu Administrador 1</h1>

<div class="container">
  <mat-card class="cardall">
    <div class="column-left"></div>
    <div class="column-right">
      <h1 class="subtitle2">Gestión de Farmacias</h1>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="form__button"
        routerLink="admin/pharmacies"
        class="button_logout"
      >
        Ir
      </button>
    </div>
  </mat-card>
</div-->
<h1 class="title">Menu Administrador</h1>
<div class="container">
  <div class="row">
    <div class="col-sm continicio">
      <table class="tabler">
        <tr>
          <td>
            <img src="assets/images/perfil.png" width="150px" height="150px" />
          </td>
          <td>
            <h1>
              <p>Mi cuenta</p>
            </h1>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="btnizq"
              routerLink="/admin/account"
            >
              IR
            </button>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-sm continicio">
      <table>
        <tr>
          <td>
            <img
              src="assets/images/farmacia.png"
              width="150px"
              height="150px"
            />
          </td>
          <td>
            <h1>
              <p>Gestión de Farmacias</p>
            </h1>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="btnizq"
              routerLink="/admin/pharmacy"
            >
              IR
            </button>
          </th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm continicio">
      <table>
        <tr>
          <td>
            <img
              src="assets/images/objetivo.png"
              width="150px"
              height="150px"
            />
          </td>
          <td>
            <h1>
              <p>Gestion de Clientes</p>
            </h1>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="btnizq"
              routerLink="/admin/clients"
            >
              IR
            </button>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-sm continicio">
      <table>
        <tr>
          <td>
            <img
              src="assets/images/viruscovid.png"
              width="150px"
              height="150px"
            />
          </td>
          <td>
            <h1>
              <p>Covid App</p>
            </h1>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <a
              type="submit"
              mat-raised-button
              color="primary"
              class="btnizq"
              target="_blank"
              href="http://localhost:4600/inicio"
            >
              IR
            </a>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
<!--div class="container">
  <mat-card class="cardall">
    <div class="column-left"></div>
    <div class="column-right">
      <h1 class="subtitle2">Gestión de Productos</h1>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="form__button"
        routerLink="/pharmAdmin/products"
        class="button_logout"
      >
        Ir
      </button>
    </div>
  </mat-card>
</div-->

<!--div class="container">
  <mat-card class="cardall">
    <div class="column-left"></div>
    <div class="column-right">
      <h1 class="subtitle2">Gestión de Productos</h1>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="form__button"
        routerLink="/pharmAdmin/products"
        class="button_logout"
      >
        Ir
      </button>
    </div>
  </mat-card>
</div-->
