<!--<p>dashboard works!</p>-->
<!--<h4 class="usuario">Hola, Ximena</h4>-->
<h1 class="title">Menu Administrador</h1>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card class="card">
          <div class="row">
            <div class="col-sm">
              <div class="card-p">
                <!--<img src="assets/images/RDC_01.png"  alt="" width="400px" >-->
            </div>
            <div class="col-sm">
              <h1 class="subtitle2">
                Gestión de Farmacias
              </h1>
              <button
    type="submit"
    mat-raised-button
    color="primary"
    class="form__button"
    routerLink="/admin/pharmacy"
    class="button_logout"
  >
  Ir
  </button>
            </div>
            </div>
          </div>
            
            

        </mat-card>
      </div>
      <!--<div class="col-sm">
        <mat-card class="card">
            <img src="images/dinosaur.jpg"  alt="" width="400" height="341">
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="card">
            <img src="images/dinosaur.jpg"  alt="" width="400" height="341">
        </mat-card>
      </div>-->
    </div>
  </div>

  <!--<h1 class="title">Recientes</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        <mat-spinner></mat-spinner>
      </div>
      <div class="col-sm">
        <mat-card class="card">Simple card</mat-card>
      </div>
    </div>
  </div>-->

  