.title{
    margin-left: 45px;
    margin-bottom: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 40px;
    color: #2F4A85;
}
.subtitle{
    margin-left: 45px;
    margin-bottom: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 15px;
    color: #2F4A85;
}
.usuario{
    margin-left: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #2F4A85;
}
.card{
    background-color: #2F4A85;
    border-radius: 30px;
    //margin-right: 25px;
    //margin-left: 25px;

}
.card-p{
    width: 100px;
    height: min-content;
}