<h1>farmacia# linea</h1>
<div *ngIf="pharmacy && !destroyed">
  <mat-card class="pharm_card" *ngIf="!edit; else elseBlock">
    <mat-card-header>
      <mat-card-title>
        <h3>
          <strong>{{ pharmacy.name }}</strong>
        </h3>
      </mat-card-title>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addSubsidiary()">
          <mat-icon>add</mat-icon>
          <span>Sucursal</span>
        </button>
        <button mat-menu-item (click)="editPharm()">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deletePharmacy(pharmacy.pharmacyId)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Email</strong>{{ pharmacy.email }} <strong>Phone</strong
        >{{ pharmacy.phone }}
      </p>
      <p><strong>Status: </strong>{{ pharmacy.status | pharmacyStatus }}</p>
      <div class="subsidiaries-grid">
        <app-subsidiary
          *ngFor="let subsidiary of subsidiaries"
          [subsidiary]="subsidiary"
        ></app-subsidiary>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-template #elseBlock>
    <form
      [formGroup]="form"
      (ngSubmit)="savePharmacy($event, pharmacy.pharmacyId)"
    >
      <mat-card class="pharm_card">
        <mat-card-content>
          <mat-form-field class="form">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              placeholder="Nombre Certificado"
              value="{{ pharmacy.name }}"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              formControlName="email"
              placeholder="Email de la Faramacia"
              value="{{ pharmacy.email }}"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Telefono</mat-label>
            <input
              matInput
              type="text"
              formControlName="phone"
              placeholder="Telefono de la Faramacia"
              value="{{ pharmacy.phone }}"
              required
            />
          </mat-form-field>
          <p><strong>Status: </strong>{{ pharmacy.status | pharmacyStatus }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="{{ pharmacy.pharmacyId }}"
            type="submit"
            mat-button
            color="primary"
          >
            Guardar Cambios
          </button>
          <button
            id="{{ pharmacy.pharmacyId }}"
            (click)="cancel()"
            mat-button
            color="warn"
          >
            Cancelar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-template>
</div>
