<!--<h1>farmacia# linea</h1> -->
<br />
<div class="moldeexterno" *ngIf="pharmacy && !destroyed">
  <mat-card class="pharm_cardmoldeinterno" *ngIf="!edit; else elseBlock">
    <mat-card-header class="titlePharmacy">
      <mat-card-title>
        <h3 class="titlefarmacia">
          <strong>{{ pharmacy.name }}</strong>
        </h3>
      </mat-card-title>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addSubsidiary()">
          <mat-icon>add</mat-icon>
          <span>Sucursal</span>
        </button>
        <button mat-menu-item (click)="editPharm(pharmacy.pharmacyId)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deletePharmacy(pharmacy.pharmacyId)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col text-center">
          <div class="image_display">
            <div class="blocImagen">
              <img
                *ngIf="image"
                class="img-fluid rounded"
                [src]="image"
                width="2000px"
                height="2000px"
              />
              <img
                *ngIf="!image"
                class="img-fluid rounded"
                src="../../../../../assets/images/pnglogo1.png"
                width="2000px"
                height="2000px"
              />
            </div>
            <div class="add_image_btn">
              <app-upload-pharm-image
                [pharmId]="pharmId"
                (photoUpdateEvent)="photoRefresh($event)"
              ></app-upload-pharm-image>
            </div>
          </div>
        </div>
        <div class="col">
          <h3>
            <strong class="textEdit">EMAIL:</strong>
            <p class="textEditr">{{ pharmacy.email }}</p>
          </h3>
          <h3>
            <strong class="textEdit">TELEFONO:</strong>
            <p class="textEditr">{{ pharmacy.phone }}</p>
          </h3>
          <h3>
            <strong class="textEdit">ESTADO: </strong>
            <p class="statusTextGreen" *ngIf="pharmacy.status == 1">
              {{ pharmacy.status | pharmacyStatus }}
            </p>
            <p class="statusTextRed" *ngIf="pharmacy.status == 0">
              {{ pharmacy.status | pharmacyStatus }}
            </p>
          </h3>
        </div>
      </div>
    </mat-card-content>
    <div class="subsidiaries-grid textEdit" *ngIf="subsidiaries">
      <h1 class="titlesucursal">Sucursales</h1>
      <app-subsidiary
        class="subsidiary_item"
        *ngFor="let subsidiary of subsidiaries"
        [subsidiary]="subsidiary"
      ></app-subsidiary>
    </div>
  </mat-card>
  <ng-template #elseBlock>
    <form
      [formGroup]="form"
      (ngSubmit)="savePharmacy($event, pharmacy.pharmacyId)"
    >
      <mat-card class="pharm_cardedit">
        <mat-card-content class="entradas">
          <mat-form-field class="form">
            <mat-label class="texteditcard">Nombre</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              placeholder="Nombre Certificado"
              [(ngModel)]="pharmacy.name"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label class="texteditcard">Email</mat-label>
            <input
              matInput
              type="text"
              formControlName="email"
              placeholder="Email de la Faramacia"
              [(ngModel)]="pharmacy.email"
              required
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form">
            <mat-label class="texteditcard">Telefono</mat-label>
            <input
              matInput
              type="text"
              formControlName="phone"
              placeholder="Telefono de la Faramacia"
              [(ngModel)]="pharmacy.phone"
              required
            />
          </mat-form-field>
        </mat-card-content>
        <p class="texteditcard">
          <strong>Status: </strong>{{ pharmacy.status | pharmacyStatus }}
        </p>
        <mat-card-actions>
          <div class="buttons">
            <button
              id="{{ pharmacy.pharmacyId }}"
              type="submit"
              mat-button
              class="btn-edit"
            >
              Guardar Cambios
            </button>
            <button
              id="{{ pharmacy.pharmacyId }}"
              (click)="cancel()"
              mat-button
              color="warn"
              class="btn-edit"
            >
              Cancelar
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-template>
</div>
