<div class="container" *ngIf="pharmAdmin">
  <div *ngIf="!editEnabled; else elseBlock">
    <h1 class="title">Detalles de Perfil</h1>
    <button (click)="editPharmAdmin()" class="btn" color="primary">
      <mat-icon class="button-add">edit</mat-icon>
    </button>
    <br />
    <div class="container conta">
      <div class="row">
        <div class="photo_password_section col-6 col-md-4">
          <div class="image_display">
            <div class="blocImagen">
              <img
                *ngIf="image"
                class="rounded mx-auto d-block img-fluid"
                [src]="image"
                width="200px"
                height="200px"
              />
              <img
                *ngIf="!image"
                class="rounded mx-auto d-block img-fluid"
                src="../../../../../assets/images/face.png"
                width="200px"
                height="200px"
              />
            </div>
            <div class="add_image_btn">
              <app-upload-pharm-admin-image></app-upload-pharm-admin-image>
            </div>
          </div>
          <br />
          <button
            mat-button
            mat-raised-button
            (click)="changePassword()"
            class="btnform"
          >
            Cambiar Contraseña
          </button>
        </div>
        <div class="details_section col-12 col-md-8">
          <div class="contact-section">
            <h2 class="t2">Datos Personales:</h2>
            <div class="row">
              <div class="col">
                <strong>Nombre (s):</strong>
                <p>{{ pharmAdmin.firstName }}</p>
                <strong>Email:</strong>
                <p>{{ pharmAdmin.email }}</p>
                <strong>Telefono de referencia:</strong>
                <p>{{ pharmAdmin.phone }}</p>
              </div>
              <div class="col">
                <strong>Apellido(s):</strong>
                <p>
                  {{ pharmAdmin.firstSurname }} {{ pharmAdmin.secondSurname }}
                </p>
                <strong>Nombre de Usuario:</strong>
                <p>{{ pharmAdmin.userName }}</p>
                <strong>CI:</strong>
                <p>{{ pharmAdmin.ci }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <h1 mat-dialog-title class="title1">
      Editando Datos del Cliente: {{ pharmAdmin.userName }}
    </h1>
    <form [formGroup]="form" (ngSubmit)="savePharmAdmin()">
      <mat-dialog-content>
        <mat-form-field class="form">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstName"
            placeholder="Pepeluis"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Apellido Paterno</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstSurname"
            placeholder="Morales"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Apellido Materno</mat-label
          ><input
            matInput
            type="text"
            formControlName="secondSurname"
            placeholder="Perez"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field class="form">
          <mat-label>CI</mat-label
          ><input
            matInput
            type="text"
            formControlName="ci"
            placeholder="4568799"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Telefono de Referencia</mat-label
          ><input
            matInput
            type="text"
            formControlName="phone"
            placeholder="7895654"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Nombre de Usuario</mat-label
          ><input
            matInput
            type="text"
            formControlName="userName"
            placeholder="pepito"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field class="email form">
          <mat-label>Email</mat-label
          ><input
            matInput
            type="text"
            formControlName="email"
            placeholder="pepito@peptio.com"
            disabled
            required
          />
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions class="buttons">
        <button
          type="submit"
          mat-button
          color="primary"
          cdkFocusInitial
          class="btnform"
        >
          Guardar
        </button>
        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="cancel()"
          class="btnformwarn"
        >
          Cancelar
        </button>
      </mat-dialog-actions>
    </form>
  </ng-template>
</div>
