.header {
  height: 5vh;
  background-color: $color-primary-white;
  color: $color-black;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.topbar-button-right {
  margin: 0 0.5rem !important;
}
.mat-icon-button.img-button img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
