<div class="container">
  <mat-horizontal-stepper>
    <mat-step label="Confirmar Productos" state="products">
      <div class="products" *ngIf="products">
        <div *ngIf="products.length > 0">
          <div class="row justify-content-between">
            <h2 class="col-md-4">Productos en tu Carrito</h2>
            <h2 class="col-md-4">Total: {{ reserve.total | number }} Bs.</h2>
          </div>
          <div class="products_list" *ngFor="let product of products">
            <app-order-item
              [product]="product"
              [type]="'edit'"
              (removeOrderItemEvent)="removeItem($event)"
            >
            </app-order-item>
          </div>
          <div>
            <button mat-raised-button matStepperNext>Siguiente</button>
            <button
              mat-raised-button
              class="button_cancelled"
              (click)="buyCancelledProducts()"
            >
              Cancelar compra
            </button>
            <!--button 
            mat-raised-button
            class="button_cancelled" (click)="buyCancelledProducts(product.productId)">Cancelar compra</button-->
            <!--button 
            mat-raised-button
            class="button_cancelled" (click)="buyCancelledProducts(client.clientId,product.productId)">Cancelar compra
          </button-->
          </div>
        </div>
        <div class="no_products" *ngIf="products.length == 0" align="center">
          <img src="assets/images/nocant.png" width="500px" height="500px" />
          <h1 class="txtvermas">
            ¡No tiene productos en su carrito de compras!
          </h1>
          <a href="#" routerLink="../../client/pharmacies/">
            <span class="material-icons"> production_quantity_limits </span>
            Revisa nuestros productos a la venta,</a
          >
          es un placer atenderte
        </div>
      </div>
    </mat-step>

    <mat-step label="Seleccionar Metodo de Pago" state="cards">
      <h2 class="txtvermas">Elige la Tarjeta con la que Quieres Pagar</h2>
      <br />
      <div class="cards">
        <mat-radio-group
          aria-label="Select an option"
          [(ngModel)]="selectedCard"
        >
          <mat-radio-button *ngFor="let card of cards" [value]="card"
            ><app-card-item
              [card]="card"
              [displayType]="'order'"
            ></app-card-item
          ></mat-radio-button>
        </mat-radio-group>
        <!-- <button mat-button *ngFor="let card of cards">
              
            </button> -->
      </div>
      <button mat-button matStepperPrevious class="btnform">Atras</button>
      <button mat-button matStepperNext class="btnform">Siguiente</button>
    </mat-step>

    <mat-step label="Confirmar Compra" state="confirm">
      <h2 class="txtvermas">¡Ultimo paso! Confirma la compra.</h2>
      <br />
      <div class="products" *ngIf="products">
        <div *ngIf="products.length > 0">
          <div class="row justify-content-between">
            <h2 class="col-md-4">Productos en tu Carrito</h2>
            <h2 class="col-md-4">Total: {{ reserve.total }}</h2>
          </div>
          <div class="products_list" *ngFor="let product of products">
            <app-order-item
              [product]="product"
              [type]="'edit'"
              (removeOrderItemEvent)="removeItem($event)"
            >
            </app-order-item>
          </div>
        </div>
        <div class="selected_card" *ngIf="selectedCard">
          <h2 class="card_title">Tarjeta Seleccionada para Pagar la Compra</h2>
          <app-card-item
            [card]="selectedCard"
            [displayType]="'order'"
          ></app-card-item>
        </div>
        <div class="no_products" *ngIf="products.length == 0" align="center">
          <img src="assets/images/nocant.png" width="500px" height="500px" />
          <h1 class="txtvermas">
            ¡No tiene productos en su carrito de compras!
          </h1>
          <a href="#" routerLink="../../client/pharmacies/">
            <span class="material-icons"> production_quantity_limits </span>
            Revisa nuestros productos a la venta,</a
          >
          es un placer atenderte
        </div>
      </div>
      <button mat-button matStepperPrevious class="btnform">Atras</button>
      <button mat-button class="btnform" (click)="buyProducts()">
        Comprar
      </button>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="products">
      <mat-icon>shopping_bag</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="cards">
      <mat-icon>credit_card</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="confirm">
      <mat-icon>fact_check</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>
