<!--QUITAR EL PADDING URGENTE-->
<div class="sucursalall">
  <h1 class="titlesucursal">Sucursales</h1>
  <div *ngIf="!destroyed">
    <div class="sucursal">
      <a
        class="namesucursal"
        mat-list-item
        routerLink="subsidiary/{{ subsidiary.subsidiaryId }}"
        >{{ subsidiary.subsidiaryName }}
      </a>
      <button mat-menu-item (click)="deleteSubsidiary(subsidiary.subsidiaryId)">
        <mat-icon class="btnsucu">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
