.order_item_container {
  width: 100%;
}
.card {
  width: 100%;
}
.img {
  margin: 2px;
}
.product_quantity {
  width: 100px;
}
.quantity.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.editQuantityBtns {
  // position: absolute;
}
