<div class="order_item_container">
  <div class="card mb-3">
    <div class="row g-0 align-items-center p-2 justify-content-center">
      <div class="col-md-2 img">
        <img
          *ngIf="image"
          class="card-img-top"
          [src]="image"
          width="1200px"
          height="200px"
        />
        <img
          *ngIf="!image"
          class="card-img-top"
          src="../../../../../assets/images/pastilla.png"
          width="1200px"
          height="200px"
        />
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <!-- <a
            mat-flat-button
            routerLink="../client/pharmacies/{{ product.subsidiaryId }}"
          >
          </a> -->
          <h1 class="card-title">{{ product.name }}</h1>
          <h3 class="card-text">
            {{ product.description }}
          </h3>
          <br />
          <h3 class="card-text">
            Tipo:
            <p class="text-muted">{{ product.type }}</p>
          </h3>
          <h3 class="card-text">
            Marca:
            <p class="text-muted">{{ product.brandName }}</p>
          </h3>
        </div>
      </div>
      <div class="col-md-2" *ngIf="product.dose">
        Dosis:
        <h3>{{ product.dose }} {{ product.doseType }}</h3>
        <br /><br />
        Cantidad:
        <mat-chip-list
          class="example-chip"
          cdkDropList
          *ngIf="!editQuantity && type == 'display'"
        >
          <mat-chip class="quantity">
            {{ product.quantity }}
          </mat-chip>
        </mat-chip-list>
        <mat-chip-list
          class="example-chip"
          cdkDropList
          *ngIf="!editQuantity && type == 'edit'"
        >
          <mat-chip class="quantity" (click)="changeQuantity()">
            {{ product.quantity }}
          </mat-chip>
        </mat-chip-list>
        <div class="edit_quantity" *ngIf="editQuantity">
          <mat-form-field class="product_quantity">
            <input
              [(ngModel)]="product.quantity"
              matInput
              type="number"
              min="1"
              (change)="getRefreshQuantity()"
              #input
            />
          </mat-form-field>
          <br />
          <div class="editQuantityBtns">
            <button mat-mini-fab color="primary" (click)="updateQuantity()">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="changeQuantity()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        Precio Unitario:
        <h3>{{ product.price }} Bs.</h3>
        <br /><br />
        <button
          *ngIf="type == 'edit'"
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a heart icon"
          (click)="removeProduct(product.productId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="col">
        Precio Total:
        <h3>{{ productTotalPrice | number }} Bs.</h3>
        <br /><br />
      </div>
    </div>
  </div>
</div>
