<div class="order_item_container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="../../../../../assets/images/4.jpg" alt="..." />
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h3 class="card-title">{{ product.name }}</h3>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{ product.type }}</small>
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <h3>{{ product.price }}</h3>
      </div>
    </div>
  </div>
</div>
