<h1 class="title"><strong>Gestión de Farmacias</strong></h1>
<div class="header-farmacias">
  <div>
    <button (click)="addPharmacy()" class="btn" color="primary">
      <mat-icon class="button-add">add_business</mat-icon>
    </button>
  </div>
  <div>
    <div fxFlex fxHide.lt-sm="true" class="search-bar">
      <form class="top-search-form">
        <mat-icon role="img">search</mat-icon>
        <input  placeholder="Buscar farmacia" type="text" class="lettersearch" />
      </form>
    </div>
  </div>
</div>

  <div class="pharmacies">
    <app-pharmacy
      *ngFor="let pharmacy of pharmacies"
      [pharmacy]="pharmacy"
    ></app-pharmacy>
  </div>

