
<mat-nav-list class="sidebar__list">
  <div class="sidebar-brand">
    <img src="assets/images/logopngmd1.png" alt="" width="210px" height="50px" />
    <!--<img src="assets/images/logopngmd1.png" alt="" width="190px" height="50px" />
    <img src="assets/images/lofinal.png" alt="" width="210px" height="50px" />-->
    <!--<span class="sidebar-brand__subtitle">Administrador</span>-->
  </div>

  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="dashboard"
    ><mat-icon class="link__icon">dashboard</mat-icon
    ><span class="link__text">Dashboard</span></a
  >
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="reports"
    ><mat-icon class="link__icon">table_view</mat-icon
    ><span class="link__text">Reportes</span></a
  >
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="pharmacy"
    ><mat-icon class="link__icon">local_pharmacy</mat-icon
    ><span class="link__text">Farmacias</span></a
  >
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/1/clients"
    ><mat-icon class="link__icon">person</mat-icon
    ><span class="link__text">Clientes</span></a
  >

</mat-nav-list>
