<mat-nav-list class="sidebar__list">
  <div class="sidebar-brand">
    <img
      src="assets/images/logopngmd1.png"
      alt=""
      width="210px"
      height="50px"
    />
    <!--<img src="assets/images/logopngmd1.png" alt="" width="190px" height="50px" />
    <img src="assets/images/lofinal.png" alt="" width="210px" height="50px" />-->
    <!--<span class="sidebar-brand__subtitle">Administrador</span>-->
  </div>

  <a
    *ngIf="userRole == 1"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/admin/dashboard"
    ><mat-icon class="link__icon">dashboard</mat-icon
    ><span class="link__text">Dashboard</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/dashboard"
    ><mat-icon class="link__icon">dashboard</mat-icon
    ><span class="link__text">Dashboard</span></a
  >
  <a
    *ngIf="userRole == 3"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/client/home"
    ><mat-icon class="link__icon">home</mat-icon
    ><span class="link__text">Home</span></a
  >
  <a
    *ngIf="userRole == 1"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/admin/account"
    ><mat-icon class="link__icon">account_circle</mat-icon
    ><span class="link__text">Perfil Administrador</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/account"
    ><mat-icon class="link__icon">account_circle</mat-icon
    ><span class="link__text">Perfil Administrador</span></a
  >
  <a
    *ngIf="userRole == 3"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/client/account"
    ><mat-icon class="link__icon">account_circle</mat-icon
    ><span class="link__text">Perfil de Usuario</span></a
  >
  <a
    *ngIf="userRole == 1"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/admin/reports"
    disabled
    ><mat-icon class="link__icon">table_view</mat-icon
    ><span class="link__text">Reportes</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/reports"
    disabled
    ><mat-icon class="link__icon">table_view</mat-icon
    ><span class="link__text">Reportes</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/sales"
    disabled
    ><mat-icon class="link__icon">monetization_on</mat-icon
    ><span class="link__text">Ventas</span></a
  >
  <a
    *ngIf="userRole == 1"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/admin/pharmacy"
    ><mat-icon class="link__icon">local_pharmacy</mat-icon
    ><span class="link__text">Farmacias</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/products"
    ><mat-icon class="link__icon">shopping_cart</mat-icon
    ><span class="link__text">Products</span></a
  >
  <a
    *ngIf="userRole == 3"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/client/pharmacies"
    ><mat-icon class="link__icon">shopping_cart</mat-icon
    ><span class="link__text">Farmacias</span></a
  >
  <a
    *ngIf="userRole == 1"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/admin/clients"
    ><mat-icon class="link__icon">person</mat-icon
    ><span class="link__text">Clientes</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/brands"
    ><mat-icon class="link__icon">local_shipping</mat-icon
    ><span class="link__text">Marcas</span></a
  >
  <a
    *ngIf="userRole == 2"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/pharmAdmin/bankAccount"
    ><mat-icon class="link__icon">account_balance</mat-icon
    ><span class="link__text">Cuenta de Banco</span></a
  >
  <a
    *ngIf="userRole == 3"
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/client/creditCards"
    ><mat-icon class="link__icon">credit_card</mat-icon
    ><span class="link__text">Tarjetas de Credito</span></a
  >
</mat-nav-list>
