<div class="container" *ngIf="bankAccount">
  <h1 mat-dialog-title>Detalles Cuenta de Banco</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="saveChanges($event, bankAccount.bankAccountId)"
  >
    <mat-card class="pharm_card">
      <mat-card-content>
        <mat-form-field class="form">
          <mat-label>Numero de Cuenta</mat-label
          ><input
            matInput
            type="text"
            formControlName="accountNumber"
            placeholder="123-2336-2326"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Banco</mat-label
          ><input
            matInput
            type="text"
            formControlName="bank"
            placeholder="Banco del Dineros"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Tipo de Cuenta</mat-label
          ><input
            matInput
            type="text"
            formControlName="accountType"
            placeholder="Ahorro"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          id="{{ bankAccount.bankAccountId }}"
          type="submit"
          mat-button
          color="primary"
        >
          Guardar Cambios
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
