<div class="container" *ngIf="bankAccount; else elseBlock">
  <h1 mat-dialog-title>Detalles Cuenta de Banco</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="saveChanges($event, bankAccount.bankAccountId)"
  >
    <mat-card class="pharm_card">
      <mat-card-content>
        <mat-form-field class="form">
          <mat-label>Numero de Cuenta</mat-label
          ><input
            id="cc-number"
            type="tel"
            autocomplete="cc-number"
            ccNumber
            matInput
            formControlName="accountNumber"
            placeholder="123-2336-2326"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Banco</mat-label
          ><input
            matInput
            type="text"
            formControlName="bank"
            placeholder="Banco del Dineros"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Tipo de Cuenta</mat-label
          ><input
            matInput
            type="text"
            formControlName="accountType"
            placeholder="Ahorro"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          id="{{ bankAccount.bankAccountId }}"
          type="submit"
          mat-button
          color="primary"
        >
          Guardar Cambios
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<ng-template #elseBlock>
  <div class="container">
    <h1 class="title"><strong>Cuenta de Banco</strong></h1>
    <button (click)="addBankAccount()" mat-fab class="btn" color="primary">
      <mat-icon class="button-add">credit_card</mat-icon>
    </button>
    <!--div class="no_data" *ngIf="!dataReady"-->
    <div class="no_data">
      <table class="tabla">
        <tr>
          <img src="assets/images/cuenta-bancaria.png" width="380px" height="380px" />
        </tr>
        <tr>
          <h1>
            <p class="adv1">¡No registro su cuenta de banco!</p>
            <p class="adv2">Ingrese los Datos de Cuenta de Banco</p>
          </h1>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
