.title{
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 40px;
    color: #2F4A85;
}
.no_data{
    text-align: center;
  }
  .tabla{
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
    align-items: center;
  }
  .adv1{
    margin-top: 15px;
    color: #2F4A85;
    font-weight: bolder;
    
  }
  .adv2{
    color: #153b7c;
  }