<div class="container">
  <h1 class="title"><strong>Farmacias Afiliadas</strong></h1>
  <div class="header-farmacias">
    <mat-form-field class="formfarmacia2">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>
  <div class="container">
    <div class="row row-cols-3">
      <app-pharmacy-item
        class="col mt-3 mb-3"
        *ngFor="let subsidiary of dataSource.filteredData"
        [subsidiary]="subsidiary"
      >
      </app-pharmacy-item>
    </div>
  </div>
</div>
