<div class="container">
  <h1 mat-dialog-title>Detalles Sucursal</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="saveAddress($event, subsidiary.pharmacyId)"
  >
    <mat-card class="pharm_card">
      <mat-card-content>
        <mat-form-field class="form">
          <mat-label>Nombre</mat-label
          ><input
            matInput
            type="text"
            formControlName="subsidiaryName"
            placeholder="Farmacias Algo Sucursal 1"
            value="{{ subsidiary.subsidiaryName }}"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Email</mat-label
          ><input
            matInput
            type="text"
            formControlName="email"
            placeholder="farmacia@algo.com"
            value="{{ subsidiary.email }}"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Telefono</mat-label
          ><input
            matInput
            type="text"
            formControlName="phone"
            placeholder="+8965 2324598"
            value="{{ subsidiary.phone }}"
            required
          />
        </mat-form-field>
        <mat-divider></mat-divider>
        <h1>Dirección</h1>
        <mat-form-field class="form">
          <mat-label>Nro.</mat-label
          ><input
            matInput
            type="text"
            formControlName="number"
            placeholder="Numero de domicilio E: Nro. 123"
            value="{{ subsidiary.number }}"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Calle</mat-label
          ><input
            matInput
            type="text"
            formControlName="street"
            placeholder="Calle Algo"
            value="{{ subsidiary.street }}"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Zona</mat-label
          ><input
            matInput
            type="text"
            formControlName="zone"
            placeholder="El Prado"
            value="{{ subsidiary.zone }}"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Ciudad</mat-label
          ><input
            matInput
            type="text"
            formControlName="city"
            placeholder="La Paz"
            value="{{ subsidiary.city }}"
            required
          />
        </mat-form-field>
        <mat-form-field class="form">
          <mat-label>Pais</mat-label
          ><input
            matInput
            type="text"
            formControlName="country"
            placeholder="Bolivia"
            value="{{ subsidiary.country }}"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          id="{{ subsidiary.pharmacyId }}"
          type="submit"
          mat-button
          color="primary"
        >
          Guardar Cambios
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <mat-divider></mat-divider>
  <div class="container">
    <br />
    <h1><strong>Administradores de Sucursal</strong></h1>
    <button (click)="addAdmin()" mat-fab class="btn" color="primary">
      <mat-icon>add_icon</mat-icon>
    </button>
    <div class="pharmacies-admins-grid">
      <app-pharm-admin
        *ngFor="let admin of admins"
        [admin]="admin"
      ></app-pharm-admin>
    </div>
  </div>
</div>
