<div class="" *ngIf="subsidiary">
  <h1 class="title">Detalles Sucursal</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="saveChanges($event, subsidiary.subsidiaryId)"
    class="formfarmacia"
  >
    <mat-card class="pharm_card">
      <mat-card-content>
        <div class="">
          <mat-form-field class="form">
            <mat-label>Nombre</mat-label
            ><input
              matInput
              type="text"
              formControlName="subsidiaryName"
              placeholder="Farmacias Algo Sucursal 1"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Email</mat-label
            ><input
              matInput
              type="text"
              formControlName="email"
              placeholder="farmacia@algo.com"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Telefono</mat-label
            ><input
              matInput
              type="text"
              formControlName="phone"
              placeholder="+8965 2324598"
              required
            />
          </mat-form-field>
        </div>
        <br />
        <mat-divider class="linea"></mat-divider>
        <br />
        <h1 class="subtitle">Dirección</h1>
        <div class="entradas">
          <mat-form-field class="form">
            <mat-label>Nro.</mat-label
            ><input
              matInput
              type="text"
              formControlName="number"
              placeholder="Numero de domicilio E: Nro. 123"
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Calle</mat-label
            ><input
              matInput
              type="text"
              formControlName="street"
              placeholder="Calle Algo"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Zona</mat-label
            ><input
              matInput
              type="text"
              formControlName="zone"
              placeholder="El Prado"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Ciudad</mat-label
            ><input
              matInput
              type="text"
              formControlName="city"
              placeholder="La Paz"
              required
            />
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Pais</mat-label
            ><input
              matInput
              type="text"
              formControlName="country"
              placeholder="Bolivia"
              required
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button
            id="{{ subsidiary.subsidiaryId }}"
            type="submit"
            mat-button
            color="primary"
            class="btn-guardar"
          >
            Guardar Cambios
          </button>
        </div>
        <!--mat-divider></mat-divider-->
      </mat-card-actions>
    </mat-card>
  </form>

  <div class="">
    <br />
    <h1 class="title"><strong>Administradores de Sucursal</strong></h1>
    <button
      (click)="addAdmin()"
      mat-fab
      class="btn"
      color="primary"
      class="formfarmacia2"
    >
      <mat-icon>add_icon</mat-icon>
    </button>

    <br />
    <mat-form-field class="formfarmacia2">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>

    <!-- Tabla de los admins -->
    <div class="adminlist">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 formfarmaciatabla"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="id_usuario">
          <th mat-header-cell *matHeaderCellDef>Nro.</th>
          <td mat-cell *matCellDef="let administrator">
            {{ administrator.roleUserId }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let administrator">
            {{ administrator.firstName }}
          </td>
        </ng-container>

        <!-- FirstSurname Column -->
        <ng-container matColumnDef="FirstSurname">
          <th mat-header-cell *matHeaderCellDef>Apellido Paterno</th>
          <td mat-cell *matCellDef="let administrator">
            {{ administrator.firstSurname }}
          </td>
        </ng-container>

        <!-- SecondSurname Column -->
        <ng-container matColumnDef="SecondSurname">
          <th mat-header-cell *matHeaderCellDef>Apellido Materno</th>
          <td mat-cell *matCellDef="let administrator">
            {{ administrator.secondSurname }}
          </td>
        </ng-container>

        <!-- CI Column -->
        <ng-container matColumnDef="Ci">
          <th mat-header-cell *matHeaderCellDef>CI</th>
          <td mat-cell *matCellDef="let administrator">
            {{ administrator.ci }}
          </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="id_userEdit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let administrator">
            <button
              class="action-button"
              color="primary"
              mat-mini-fab
              (click)="openDetailDialog(administrator.roleUserId)"
            >
              <span><mat-icon>details</mat-icon> </span>
            </button>
          </td>
        </ng-container>
        <!-- Delete Column -->
        <ng-container matColumnDef="id_userDel">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let administrator">
            <button
              class="action-button"
              color="warn"
              mat-mini-fab
              (click)="deleteAdmin(administrator.roleUserId)"
            >
              <span><mat-icon>delete</mat-icon> </span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
    <!-- Fin tabla de los admins -->
  </div>
</div>
