<div class="simple-dialog">
  <div class="simple-dialog__content">
    <!--icon-->
    <div
      class="simple-dialog__icon-content simple-dialog__icon-content--warning"
    >
      <mat-icon>success</mat-icon>
    </div>
    <!--#icon-->
    <!--Title simple dialog-->
    <div class="simple-dialog__title">
      <h1 class="simple-dialog__title--warning">¡Exito!</h1>
    </div>
    <!--#title simple dialog-->
    <!--message-->
    <span class="simple-dialog__message">
      {{ data.message }}
    </span>
    <!--#message-->
  </div>
  <mat-dialog-actions align="center">
    <button
      mat-button
      mat-raised-button
      color="primary"
      class="dialog-button-accept"
      (click)="accept()"
    >
      Aceptar
    </button>
  </mat-dialog-actions>
</div>
